beautifulsoup4==4.12.0
certifi==2023.7.22
charset-normalizer==3.1.0
docopt==0.6.2
idna==3.4
lxml==4.9.2
pip==23.3
pipreqs==0.4.12
pyfiglet==0.8.post1
PySocks==1.7.1
requests==2.31.0
setuptools==65.5.1
socks==0
SocksiPy-branch==1.1
soupsieve==2.4
urllib3==1.26.18
yarg==0.1.9
